# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\REPO0\is-null-or-undefined\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
